In [214]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import streamlit as st
import numpy as np

In [215]:
movies = pd.read_csv("./top10K-TMDB-movies.csv") 
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [216]:
movies.dropna(inplace=True)
 
movies.isnull().sum()
movies.reset_index(drop=True, inplace=True)

In [217]:

movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9985 entries, 0 to 9984
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 9985 non-null   int64
 1   title              9985 non-null   object
 2   genre              9985 non-null   object
 3   original_language  9985 non-null   object
 4   overview           9985 non-null   object
 5   popularity         9985 non-null   float64
 6   release_date       9985 non-null   object
 7   vote_average       9985 non-null   float64
 8   vote_count         9985 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 702.2+ KB

In [218]:
movies['combined_text'] = movies['title']+" "+movies['overview']

tfidf = TfidfVectorizer(stop_words='english')  # Initialize TF-IDF Vectorizer
tfidf_matrix = tfidf.fit_transform(movies['combined_text'])  

print(tfidf_matrix.shape)
tfidf_matrix.toarray()

(9985, 29569)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [219]:
tfidf.get_feature_names_out()

array(['00', '000', '000th', ..., 'ʻohana', 'ﬁght', 'ﬁrst'], dtype=object)

In [220]:
 tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [221]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
indices = pd.Series(movies.index, index=movies['title'])
indices = indices[~indices.index.duplicated(keep='last')]
indices['Captain America']

movies

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,combined_text
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,The Shawshank Redemption Framed in the 1940s f...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731,"Dilwale Dulhania Le Jayenge Raj is a rich, car..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,"The Godfather Spanning the years 1945 to 1955,..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,Schindler's List The true story of how busines...
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,The Godfather: Part II In the continuing saga ...
...,...,...,...,...,...,...,...,...,...,...
9980,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347,The Last Airbender The story follows the adven...
9981,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417,Sharknado 3: Oh Hell No! The sharks take bite ...
9982,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332,"Captain America During World War II, a brave, ..."
9983,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,In the Name of the King: A Dungeon Siege Tale ...
9984,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221,Domino Seeking justice for his partner’s murde...

In [222]:
 
a = pd.DataFrame(cosine_sim[indices['Captain America']], columns=["score"])
similar = a.sort_values("score", ascending=False)[1:11].index[1:11]



movies['title'].iloc[similar]

862                   Captain America: The Winter Soldier
1558                           Captain America: Civil War
4266                         Ultimate Avengers: The Movie
1788                                            Team Thor
7950    Indiana Jones and the Kingdom of the Crystal S...
2623                                          The Captain
5054                      Beavis and Butt-Head Do America
6407                                             Red Dawn
1004                        Justice Society: World War II
Name: title, dtype: object

In [223]:
def findSimilar(movie):

    a = pd.DataFrame(cosine_sim[indices[movie]], columns=["score"])
    
    similar = a.sort_values("score", ascending=False)[1:11].index
    print(movies['title'].iloc[similar])

In [224]:
findSimilar('Iron Man')

3992                          Iron Man 2
3562                          Iron Man 3
8906                               Clown
7518                  Cradle 2 the Grave
5584    The Disappearance of Alice Creed
1350                         Iron Monkey
253                                 Room
7017                                 Tau
1813              Spider-Man: Homecoming
7778                       The Dark Half
Name: title, dtype: object